@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
  word-break: break-all;
  font-size: 10px;
}
@media screen and (max-width: 768px) {
  html {
    scroll-padding-top: 5rem;
  }
}

body {
  font-family: "Yu Mincho", serif;
  font-weight: 500;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.sp-only {
  display: none;
}
.sp-only .pc-only {
  display: block;
}

@media screen and (max-width: 768px) {
  .sp-only {
    display: block;
  }
  .pc-only {
    display: none;
  }
}
a,
a img {
  cursor: url("/images/yubi.png") 6 2, pointer;
}

/*ヘッダー*/
.header {
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.1s ease;
}
.header.scrolled {
  background-color: #4D9600;
}
.header .inner {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  padding-inline: 80px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11.1rem;
}

h1.site-title {
  height: 100%;
  font-size: 2rem;
  line-height: 1.65;
  color: #ffffff;
}
h1.site-title a {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: url("/images/yubi.png") 6 2, pointer;
}

.header_nav {
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header_nav {
    display: none;
  }
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_list {
  height: 100%;
  display: flex;
  -moz-column-gap: 3.2rem;
       column-gap: 3.2rem;
}

.nav_list li {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_list a {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.8333333333;
  color: #ffffff;
  position: relative;
  cursor: url("/images/yubi.png") 6 2, pointer;
}
.nav_list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #ffffff;
  transition: width 0.3s ease;
}
.nav_list a:hover::after, .nav_list a:focus-visible::after {
  width: 100%;
}

/*SP用ナビ*/
#hamburger-block {
  display: none;
}
@media screen and (max-width: 768px) {
  #hamburger-block {
    display: block;
  }
}

.drawer-menu {
  display: none;
}

/*ハンバーガーメニュー*/
@media screen and (max-width: 768px) {
  .header {
    height: 5rem;
  }
  .hamburger {
    position: fixed;
    right: 0;
    width: 72px;
    height: 50px;
    background: #ffffff;
  }
  /*三本線*/
  .hamburger-line,
.hamburger-line::before,
.hamburger-line::after {
    position: absolute;
    left: 20px;
    width: 32px;
    height: 4px;
    background: #4D9600;
  }
  .hamburger-line::before,
.hamburger-line::after {
    content: "";
    left: 0;
  }
  .hamburger-line::before {
    top: -13px;
  }
  .hamburger-line::after {
    top: 13px;
  }
  /*アクティブ時（×印）*/
  .hamburger.active .hamburger-line {
    background-color: transparent;
  }
  .hamburger.active .hamburger-line::before {
    transform: rotate(45deg);
    top: 0;
  }
  .hamburger.active .hamburger-line::after {
    transform: rotate(-45deg);
    top: 0;
  }
  /*ナビゲーションSP用*/
  .drawer-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: auto;
    background-color: #4D9600;
    margin-top: 5rem;
    z-index: 999;
  }
  .drawer-menu .nav_list li {
    width: 100%;
  }
  .drawer-menu .nav_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2.5rem;
  }
  .drawer-menu .nav_list a {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1.8333333333;
    padding-left: 20px;
    text-decoration: none;
  }
  .drawer-menu .nav_list a:hover,
.drawer-menu .nav_list a:focus {
    background-color: #000000;
  }
}
/*FV*/
.fv {
  position: relative;
  z-index: 10;
}
.fv::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  pointer-events: none;
  z-index: 1500;
}
.fv .fv_contents {
  position: absolute;
  top: 42.5%;
  left: 31.4%;
  display: flex;
}
.fv .fv_contents .fv_catch {
  text-align: center;
}
.fv .fv_contents .fv_catch h2 {
  font-size: 4rem;
  line-height: 1.75;
  letter-spacing: 12px;
  color: #ffffff;
  filter: drop-shadow(5px 5px 5px #000000);
}

@media screen and (max-width: 768px) {
  .fv {
    position: relative;
  }
  .fv .fv_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .fv .fv_contents .fv_catch {
    text-align: center;
  }
  .fv .fv_contents .fv_catch h2 {
    font-size: 3rem;
    line-height: 2;
    letter-spacing: 0.3em;
  }
}
/*about-section*/
.about-section {
  position: relative;
}

.about-title,
.about-text {
  position: absolute;
  writing-mode: vertical-rl;
}

h2.about-title {
  top: 22.5%;
  left: 56.5%;
  font-size: 3rem;
  line-height: 1.18;
  letter-spacing: 0.5rem;
}

p.about-text {
  top: 22.5%;
  left: 12.5%;
  font-size: 18px;
  line-height: 2.65;
  letter-spacing: 0.7rem;
}

@media screen and (max-width: 768px) {
  h2.about-title {
    top: 8.5%;
    left: 50%;
    font-size: 2.5rem;
  }
  p.about-text {
    top: 53.7%;
    left: 20%;
    font-size: 1.6rem;
    line-height: 1.25;
  }
}
/*service-section*/
.service-section {
  background: rgba(77, 150, 0, 0.102);
  padding-bottom: 131px;
}

.inner {
  max-width: 980px;
  margin: 0 auto;
  padding-inline: 30px;
}

.service-title {
  padding-top: 80px;
  text-align: center;
}
.service-title h2 {
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 0.3em;
  color: #4D9600;
}
.service-title p {
  font-size: 2rem;
  line-height: 1.65;
  letter-spacing: 0.3em;
  margin-top: 6px;
}

/*1つ目68px,2,3つ目80px*/
.service-item,
.service-item.reverse {
  margin-top: 131px;
}

.service-item:first-of-type {
  margin-top: 68px;
}

.service-media {
  position: relative;
  display: block;
  width: 100%;
  z-index: 0;
}

.service-media__img {
  position: relative;
  width: 65.3%;
  height: auto;
  max-width: 600px;
  z-index: 2;
}

.service-media__img img {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  z-index: 2;
}

.service-media__bg {
  position: absolute;
  left: 70%;
  top: 48.33%;
  width: 83.3%;
  height: auto;
  max-width: 500px;
  aspect-ratio: 2/1;
  background: #4D9600;
  z-index: 1;
}

.service-media__text {
  position: absolute;
  left: 70%;
  top: 48.33%;
  width: 83.3%;
  max-width: 500px;
  height: auto;
  aspect-ratio: 2/1;
  z-index: 3;
  padding-top: 50px;
  padding-left: 220px;
}
.service-media__text h3 {
  font-size: 2.5rem;
  line-height: 1.32;
  color: #ffffff;
  margin-bottom: 17px;
}
.service-media__text p {
  font-size: 1.6rem;
  line-height: 1.5625;
  color: #ffffff;
}

p.service-caption.pc-only {
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 19px;
}

p.service-caption.pc-only.right {
  text-align: right;
}

/*左右反転・空きスペース作る*/
.service-item.reverse .service-media__img {
  margin-left: auto;
}

.service-item.reverse .service-media__bg,
.service-item.reverse .service-media__text {
  left: auto;
  right: 70%;
}

.service-item.reverse .service-media__text {
  padding-left: 20px !important;
}

.service-caption.sp-only {
  display: none;
}

.service-caption.pc-only {
  display: block;
}

@media screen and (max-width: 768px) {
  .service-title {
    padding-top: 50px;
  }
  .service-item {
    margin-top: 50px;
    width: 100%;
  }
  .service-item:first-of-type {
    margin-top: 40px;
  }
  .service-item.reverse {
    margin-top: 50px;
  }
  .service-media {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-areas: "img" "caption" "stack";
    padding-bottom: 46.3492063492%;
  }
  .service-media__img {
    width: 100%;
    position: relative;
    max-width: none;
    grid-area: img;
    height: auto;
  }
  .service-media__img img {
    grid-area: img;
    width: 100%;
    position: relative;
    height: auto;
    aspect-ratio: 315/220;
  }
  .service-media__bg {
    display: block;
    grid-area: stack;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 315/146;
    max-width: none;
    z-index: 1;
  }
  .service-media__text {
    grid-area: stack;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    max-width: none;
    z-index: 900;
    padding-inline: 20px;
    padding-top: 0;
    text-align: left;
    margin-top: 6px;
  }
  .service-item.reverse .service-media__bg,
.service-item.reverse .service-media__text {
    left: 0;
    right: auto;
  }
  .service-media__text h3 {
    font-size: 2rem;
    line-height: 1.25;
  }
  .service-media__text h3 .pc-only {
    display: none;
  }
  .service-media__text h3 {
    font-size: 2em;
    line-height: 0.8;
    margin-top: 20px;
  }
  .service-media__text p {
    font-size: 1.6rem;
    line-height: 0.64;
  }
  .service-caption.pc-only {
    display: none;
  }
  .service-caption.sp-only {
    display: block;
    margin-top: 3px;
  }
  p.service-caption.sp-only {
    grid-area: caption;
    font-size: 1.6rem;
    line-height: 1.5625;
  }
}
/*works-section*/
#works {
  position: relative;
}

.works-section {
  padding-top: 80px;
  padding-bottom: 97px;
}

.works-title {
  text-align: center;
}
.works-title h2 {
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 0.3em;
  color: #4D9600;
  margin-bottom: 6px;
}
.works-title p {
  font-size: 2rem;
  line-height: 1.65;
  letter-spacing: 0.3em;
}

.works-list {
  margin-top: 68px;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.works-caption p {
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 19px;
}

.works-image {
  display: block;
  width: 100%;
}

.works-image img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .works-section {
    padding-top: 50px;
    padding-bottom: 42px;
  }
  .works-list {
    margin-top: 38px;
    flex-direction: column;
    gap: 22px;
  }
  .works-caption p {
    margin-top: 9px;
  }
}
/*モーダル用*/
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #707070;
  box-sizing: border-box;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  aspect-ratio: 450/275;
  width: 100%;
  max-width: 452px;
  height: auto;
  border: 1px solid #707070;
  padding-inline: 15px;
  padding-top: 15px;
}

.modal-close {
  position: absolute;
  top: 1.2%;
  right: 1%;
  width: 15px;
  height: 15px;
  cursor: url("/images/yubi.png") 6 2, pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21.3px;
  height: 1px;
  background: #000000;
  transform-origin: center;
}

.modal-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-image {
  width: 100%;
  aspect-ratio: 420/220;
}
.modal-image img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-text {
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 9px;
}

/*news-section*/
.news-section {
  background: rgba(77, 150, 0, 0.102);
  padding-top: 80px;
  padding-bottom: 80px;
}

.news-title {
  text-align: center;
}
.news-title h2 {
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 0.3em;
  color: #4D9600;
  margin-bottom: 6px;
}
.news-title p {
  font-size: 2rem;
  line-height: 1.65;
  letter-spacing: 0.3em;
}

.news-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 68px;
  gap: 60px;
}

.news-col {
  flex: 1;
  width: 100%;
  max-width: 450px;
}

.news-subtitle {
  display: flex;
  align-items: center;
  padding-left: 20px;
  background: #4D9600;
  width: 100%;
  height: 50px;
}
.news-subtitle h3 {
  font-size: 2rem;
  line-height: 1.65;
  color: #ffffff;
}

ul.news-list {
  background: #ffffff;
  padding: 30px 20px 20px;
}

ul.news-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  border-bottom: solid 1px #4D9600;
}

li.news-item {
  padding: 20px 0 13px;
}
li.news-item:first-child {
  padding-top: 0;
}

time {
  font-size: 1.6rem;
  line-height: 2.0625;
  flex-shrink: 0;
}

a.news-link {
  font-size: 1.8rem;
  line-height: 1.3888888889;
  transition: opacity 0.3s ease;
}
a.news-link:hover {
  opacity: 0.6;
}

a.more-btn {
  display: block;
  text-align: right;
  position: relative;
  margin-top: 17px;
  padding-right: 32px;
  font-size: 2rem;
  line-height: 1.65;
  color: #4D9600;
  transition: opacity 0.3s ease;
}
a.more-btn:hover {
  opacity: 0.6;
}
a.more-btn::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 7px;
  width: 80px;
  height: 1px;
  background-color: #4D9600;
}

.more-btn span {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 7px;
  width: 80px;
  height: 18px;
}
.more-btn span::before {
  content: "";
  position: absolute;
  right: 13px;
  top: 5px;
  width: 1px;
  height: 100%;
  background-color: #4D9600;
}
.more-btn span::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 1px;
  width: 1px;
  height: 100%;
  background-color: #4D9600;
  transform: rotate(-48deg);
  transform-origin: right bottom;
}

@media (max-width: 768px) {
  .news-box {
    flex-direction: column;
    gap: 50px;
  }
}
/*company-section*/
.company-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.company-title {
  text-align: center;
}
.company-title h2 {
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 0.3em;
  color: #4D9600;
  margin-bottom: 6px;
}
.company-title p {
  font-size: 2rem;
  line-height: 1.65;
  letter-spacing: 0.3em;
}

.company-block {
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 62px;
}

.company-map {
  width: 65.2%;
  aspect-ratio: 3/2;
  position: relative;
}
.company-map::after {
  content: "";
  position: absolute;
  bottom: -15.5%;
  right: -1px;
  width: 30%;
  height: 15.5%;
  background-color: #4D9600;
}

.company-map iframe {
  display: block;
  width: 100%;
  max-width: 600px;
  height: 100%;
}

.company-access {
  flex: 1;
}

.company-info {
  box-sizing: border-box;
  max-width: 320px;
  width: 34.8%;
  aspect-ratio: 320/262;
  background: #4D9600;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 65.2%;
  padding: 49px 0 42px 40px;
}

p.name {
  font-size: 2rem;
  line-height: 1.65;
}
p.name span {
  margin-left: 10px;
}

p.address {
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 7px;
}

p.tel {
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 12px;
}
p.tel span {
  font-size: 2.5rem;
  line-height: 1;
}

p.mail {
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 15px;
}
/*# sourceMappingURL=style.css.map */